---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<form>
			<fieldset>
				<label for="combinations">Ingresa el numero perro</label>
				<input
					type="number"
					value="0"
					name="combinations"
					id="combinations"
					required
				/>
				<button type="submit">Generar</button>
			</fieldset>
		</form>

		<h1></h1>
	</body>
</html>

<script>
	const h1 = document.querySelector("h1");
	const form = document.querySelector("form");
	form.addEventListener("submit", function (event) {
		event.preventDefault();
		const num = Number(this.combinations.value);
		const combinations = Math.pow(2, num);
		const random = Math.floor(Math.random() * combinations);
		h1.innerHTML = random.toString(2).padStart(num, "0");
	});
</script>

<style>
	fieldset {
		display: grid;
	}
</style>
